/* 
    Document   : style
    Created on : Feb 18, 2009, 9:05:43 PM
    Author     : I WAYAN WIRKA
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    background-color: #ffffff;    
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    align:center;
    background-image: url(images/back.png);
}

#formArea{
    border:1px solid #006600;
    align:center;
    width:97%;    
    /*background-color: #eaeaf5;*/
    background-color: #ffffff;
    padding:0px;
    padding-bottom:8px;
}

#pageLocation{
    font-family: Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;    
    color: #333333;
    align : left;
    border:0px;
    border-bottom:1px solid #006600;
    margin:0px;
    margin-bottom:10px;
    background-color:#ffffff;
    padding:3px;
    padding-left:10px;
}

#location{
}

#wrapper {
    top:0px;
    left:0px;
    border:0px;
    border-bottom:4px solid #C64934;
    width:100%;
}

#header{    
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-image: url(images/HEADER-PAGE.jpg);
    color: #99ff66;
    width:100%;
    text-align:center;
    border:0px;
    padding:0px;
    top:0px;
    left:0px;
    border-bottom: 4px solid #ffffff;
    padding-top:4px;
    padding-bottom:4px;
}

.page_title{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.TABLE_HEADER{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    background-image: url(images/HEADER-TABLE.png);
    height:30px;
}

hr{
}

label{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.LIST{    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    align:left;    
    border:1px solid #3333ff;
}

.area{    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    align:left;    
    border:1px solid #aaaaaa;
    margin:4px;
    padding:2px;
    padding-left:10px;
    background:#cccccc;
}
.area1{    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    align:left;    
    border:1px solid #aaaaaa;
    margin:1px;
    padding:1px;
    background:#cccccc;
}
.area2{    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    align:left;    
    border:1px solid #aaaaaa;
    margin:1px;
    font-weight:bold;
    padding:1px;
}

.CELL_HEIGH_LIGHT{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;    
    font-weight: bold;
    background-color: #cccdff;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
   border-bottom-color: #ffffff;
    border-bottom-width: 1px;
    border-top-color: #99ccff;  
    text-align:left;
}
.CELL_DATA_0{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;    
    background-color: #eeeeee;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-top-color: #eeeeee;  
    text-align:left;
}
.CELL_DATA_1{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #dddddd;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-color: #dddddd;
    border-bottom-width: 1px;
    border-top-color: #dddddd;  
    text-align:left;
}

table.LIST td.CELL_DATA_0 a, table.LIST td.CELL_DATA_0 a:link,
table.LIST td.CELL_DATA_1 a, table.LIST td.CELL_DATA_1 a:link{
    color: #0000ff;
    font-weight:bold;
    text-decoration: none;
    border:0px;
}
table.LIST td.CELL_DATA_0 a:hover, table.LIST td.CELL_DATA_1 a:hover{
    color: #0000ff;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: underline;
    border:1px;
}

table.form td a,table.form td a:link{
    color: #000099;
    text-decoration: none;    
    font-size: 13px;
    font-weight: bold;
}

table.form td a:hover{
    color: #000099;
    text-decoration: underline;    
    font-size: 13px;
    font-weight: bold;
}    
.form{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    border:opx;
}
.INPUT_TEXT{
    border:1px solid #9999ff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #fff0f0;
}
.iMask{
    border:1px solid #9999ff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #fff0f0;
}

#button{
    padding-right:10px;
    padding-left:0px;
    float:left;
}

image{
    vertical-align: middle;
}

#errorIncomplate{
    height:13px;
    width:13px;
    padding-left:3px;
}

#information{    
    width:100%;
    border:1px solid #006600;
    color: #000000;
    background-color: #99ff99;
    text-align:center;
    font-weight: bold;
    margin-bottom: 6px;
}

#question{    
    width:100%;
    border:1px solid #ff9933;
    color: #000000;
    background-color: #ffff66;
    text-align:center;
    font-weight: bold;
    margin-bottom: 6px;
}

#critical{    
    width:100%;
    border:1px solid #770000;
    color: #990000;
    background-color: #ffcccc;
    text-align:center;
    font-weight: bold;
    margin-bottom: 6px;
}

/*khusus untuk halaman implementation form */
#approve{
    border:1px solid #555555;
    width:50%;    
}

/*=========================khusus login*/
#message{    
    font-family: Arial,Helvetica,sans-serif;
    background-color: #ffe9e9;
    border: 1px solid #660000;
    color:#ff0000;
    font-weight: bold;
    font-size: 14px;
    text-align:center;
    width:400px;    
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#wrapperLogin{    
    font-family: Arial,Helvetica,sans-serif;
    background-color: #eeeeee;
    border: 1px solid #888888;
    font-size: 12px;
    text-align:left;
    width:450px;    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    align:center;
}
#formLog{    
    font-family: Arial,Helvetica,sans-serif;
    background-color: #dedede;
    border: 1px solid #686868;
    font-weight: bold;
    font-size: 12px;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
#formLogin{    
    font-family: Arial,Helvetica,sans-serif;
    background-color: #dedede;
    border: 1px solid #686868;
    font-weight: bold;
    font-size: 12px;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.button{
    border:2px solid #666666;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-weight:bold;
}
.login{
    font-size:18px;
    font-weight:bold;
    color:#ff0000;
}
/*-==============menu*/
#menu{
    border:0px;
    padding:0px;
    margin:0px;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    background-color:#eeeeee;
    margin-top:0px;
    margin-bottom:0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
}
#myMenuID{
    font-family: Arial,Helvetica,sans-serif;
    font-size:10px;
    float:left;
}
.userAcc{
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border:1px solid #660000;
    margin:0px;
    margin-right:3px;
}
#canvasMenu{
    left:0px;
    margin-bottom:5px;   
    width:100%;
}