<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Welcome to Dimata ProChain PoS</display-name>
    <servlet>
        <servlet-name>ArInvoiceReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.arap.ArInvoiceReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.SaleReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAllListWoPricePdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.PrintAllListWoPricePdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApInvoiceReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.arap.ApInvoiceReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArInvoiceDetailReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.arap.ArInvoiceDetailReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApInvoiceWithItemReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.arap.ApInvoiceWithItemReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportStockPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.stock.ReportStockPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockCardPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.stock.StockCardPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnDetailReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.retur.ReturnDetailReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportReturnPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.retur.ReportReturnPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportReceivePdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.receive.ReportReceivePdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierListPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.SupplierListPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleReportPdfMargin</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.SaleReportPdfMargin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleInvoiceDetailReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.SaleInvoiceDetailReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleReportPdfDetail</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.SaleReportPdfDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalDiscountPrintPDF</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.PersonalDiscountPrintPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberListPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.MemberListPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderNoShippingPrintPDF</servlet-name>
        <servlet-class>com.dimata.posbo.report.purchase.PurchaseOrderNoShippingPrintPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseStoreRequestNoShippingPrintPDF</servlet-name>
        <servlet-class>com.dimata.posbo.report.purchase.PurchaseStoreRequestNoShippingPrintPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockPotitionReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.stock.StockPotitionReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemFailedPDF</servlet-name>
        <servlet-class>com.dimata.posbo.session.transferdata.ItemFailedPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveInternalReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.receive.ReceiveInternalReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveInternalDetailReportPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.receive.ReceiveInternalDetailReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAllListPriceTagPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.PrintAllListPriceTagPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAllListPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.masterdata.PrintAllListPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPriceListPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.marketing.PrintPriceListPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatStockCorrectionPrintFormExcel</servlet-name>
        <servlet-class> com.dimata.printman.MatStockCorrectionPrintFormExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalePerInvoiceExcel</servlet-name>
        <servlet-class> com.dimata.printman.SalePerInvoiceExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalePerInvoiceExcel2</servlet-name>
        <servlet-class> com.dimata.printman.SalePerInvoiceExcel2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStockCode</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckStockCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkStockOutletOrder</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.checkStockOutletOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckKonversiUnit</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckKonversiUnit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPriceContract</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckPriceContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentDailyRateRunning</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CurrentDailyRateRunning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSupplierContract</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckSupplierContract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOidDocumentStock</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckOidDocumentStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaysTermOfService</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.DaysTermOfService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCustomer</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>com.dimata.posbo.entity.shoppingchart.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckTableFromRoom</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckTableFromRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KonversiUnitComposite</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.KonversiUnitComposite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintBarcode</servlet-name>
        <servlet-class>com.dimata.posbo.printing.warehouse.PrintBarcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintBarcodeRetail</servlet-name>
        <servlet-class>com.dimata.posbo.printing.warehouse.PrintBarcodeRetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTableFromRoom</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CreateTableFromRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMember</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CheckMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintItemOrder</servlet-name>
        <servlet-class>com.dimata.posbo.printing.kitchenorder.PrintItemOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCosting</servlet-name>
        <servlet-class>com.dimata.posbo.printing.costing.PrintCosting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTableMember</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.CreateTableMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPurchaseOrder</servlet-name>
        <servlet-class>com.dimata.common.ajax.AjaxPurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFingerData</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.RegisterFingerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationFingerData</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.VerificationFingerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxEmployee</servlet-name>
        <servlet-class>com.dimata.harisma.ajax.employee.AjaxEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUser</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxReceive</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxReceive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxReceives</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxReceives</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleReportHandler</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.SaleReportHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxOpname</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxOpname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesDetailExcel</servlet-name>
        <servlet-class>com.dimata.printman.SalesDetailExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxReportListSale</servlet-name>
        <servlet-class>com.dimata.posbo.integrasidb.ajax.AjaxReportListSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSalesReport</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSaleGraphic</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxSaleGraphic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMappingItemStore</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxMappingItemStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxStokReport</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxStokReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPenerimaan</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxPenerimaan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMarketingNewsInfo</servlet-name>
        <servlet-class>com.dimata.marketing.ajax.marketingnewsinfo.AjaxMarketingNewsInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMarketingPromotion</servlet-name>
        <servlet-class>com.dimata.marketing.ajax.marketingpromotion.AjaxMarketingPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMarketingPromotionType</servlet-name>
        <servlet-class>com.dimata.marketing.ajax.marketingpromotiontype.AjaxMarketingPromotionType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMarketing</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxMarketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServices</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.WebServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxProdRequirement</servlet-name>
        <servlet-class>com.dimata.hanoman.ajax.AjaxProdRequirement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCustomeReport</servlet-name>
        <servlet-class>com.dimata.common.ajax.AjaxCustomeReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdminSetup</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getAdminSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOutletList</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getOutletList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLocationSetting</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getLocationSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMember</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMaterialItem</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getMaterialItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendDataInvoice</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendDataInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLoginSystem</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getLoginSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendDataInvoiceDetail</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendDataInvoiceDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxColor</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxKadar</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxKadar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCustomReportTable</servlet-name>
        <servlet-class>com.dimata.common.ajax.AjaxCustomReportTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getShift</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getShift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCashMaster</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getCashMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxEmasLantakan</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxEmasLantakan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxNilaiTukarEmas</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxNilaiTukarEmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxConsignmentSold</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxConsignmentSold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCustomeReportTableDinamis</servlet-name>
        <servlet-class>com.dimata.common.ajax.AjaxCustomeReportTableDinamis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAddProduksiItem</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxAddProduksiItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSrcProduksi</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxSrcProduksi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxBahanBaku</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxBahanBaku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendDataCashier</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendDataCashier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendDataBalance</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendDataBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesManager</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.salesManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>syncCatalog</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.syncCatalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendBalance</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUploadFile</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReport</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSettingTemplateInfo</servlet-name>
        <servlet-class>com.dimata.common.ajax.AjaxSettingTemplateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxRateJualBerlian</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxRateJualBerlian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaskMoney</servlet-name>
        <servlet-class>com.dimata.common.ajax.formater.MaskMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintBarcodeIssuer</servlet-name>
        <servlet-class>com.dimata.posbo.util.PrintBarcodeIssuer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStockCard</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getStockCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendSales</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.sendSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCatalog</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.getCatalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCashless</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxCashless</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxProductionChain</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxProductionChain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMatDispatchBill</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxMatDispatchBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferBCPrintPDF</servlet-name>
        <servlet-class>com.dimata.posbo.report.dispatch.TransferBCPrintPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptGudang</servlet-name>
        <servlet-class>com.dimata.posbo.report.purchase.ReceiptGudang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchStoreRequest</servlet-name>
        <servlet-class>com.dimata.posbo.report.purchase.DispatchStoreRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxProduksi</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.production.AjaxProduksi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintSuratPerintahPengirimanBarang</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.PrintSuratPerintahPengirimanBarang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPengiriman</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.production.AjaxPengiriman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintSuratJalan</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.PrintSuratJalan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuktiMutasiBarang</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.BuktiMutasiBarang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeritaAcaraSerahTerimaBarang</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.BeritaAcaraSerahTerimaBarang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialRequestPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.purchase.MaterialRequestPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>documentManager</servlet-name>
        <servlet-class>com.dimata.posbo.webservice.documentManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxDispatch</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.dispatch.AjaxDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxReceiveMaterial</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.receive.AjaxReceiveMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPegawaiOfficer</servlet-name>
        <servlet-class>com.dimata.harisma.ajax.employee.AjaxPegawaiOfficer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintDocumentProduction</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.PrintDocumentProduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMaterial</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.AjaxMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportSales</servlet-name>
        <servlet-class>com.dimata.posbo.report.sale.ReportSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceivePOReport</servlet-name>
        <servlet-class>com.dimata.posbo.report.receive.ReceivePOReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentLaporanBarang</servlet-name>
        <servlet-class>com.dimata.posbo.printing.production.DocumentLaporanBarang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUserManagement</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.user.AjaxUserManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaskMoney</servlet-name>
        <url-pattern>/MaskMoney.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxProdRequirement</servlet-name>
        <url-pattern>/AjaxProdRequirement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMarketingPromotionType</servlet-name>
        <url-pattern>/AjaxMarketingPromotionType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMarketingPromotion</servlet-name>
        <url-pattern>/AjaxMarketingPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMarketingNewsInfo</servlet-name>
        <url-pattern>/AjaxMarketingNewsInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPenerimaan</servlet-name>
        <url-pattern>/AjaxPenerimaan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxStokReport</servlet-name>
        <url-pattern>/AjaxStokReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMappingItemStore</servlet-name>
        <url-pattern>/AjaxMappingItemStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSaleGraphic</servlet-name>
        <url-pattern>/AjaxSaleGraphic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSalesReport</servlet-name>
        <url-pattern>/AjaxSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxReportListSale</servlet-name>
        <url-pattern>/AjaxReportListSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesDetailExcel</servlet-name>
        <url-pattern>/SalesDetailExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxReceive</servlet-name>
        <url-pattern>/AjaxReceive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMarketing</servlet-name>
        <url-pattern>/AjaxMarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxReceives</servlet-name>
        <url-pattern>/AjaxReceives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleReportHandler</servlet-name>
        <url-pattern>/SaleReportHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxOpname</servlet-name>
        <url-pattern>/AjaxOpname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUser</servlet-name>
        <url-pattern>/AjaxUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxEmployee</servlet-name>
        <url-pattern>/AjaxEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArInvoiceReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.arap.ArInvoiceReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.sale.SaleReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAllListWoPricePdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.PrintAllListWoPricePdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApInvoiceReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.arap.ApInvoiceReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArInvoiceDetailReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.arap.ArInvoiceDetailReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApInvoiceWithItemReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.arap.ApInvoiceWithItemReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportStockPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.stock.ReportStockPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockCardPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.stock.StockCardPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnDetailReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.retur.ReturnDetailReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportReturnPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.retur.ReportReturnPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportReceivePdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.receive.ReportReceivePdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierListPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.SupplierListPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleReportPdfMargin</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.sale.SaleReportPdfMargin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleInvoiceDetailReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.sale.SaleInvoiceDetailReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleReportPdfDetail</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.sale.SaleReportPdfDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalDiscountPrintPDF</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.PersonalDiscountPrintPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberListPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.MemberListPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderNoShippingPrintPDF</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.purchase.PurchaseOrderNoShippingPrintPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseStoreRequestNoShippingPrintPDF</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.purchase.PurchaseStoreRequestNoShippingPrintPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockPotitionReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.stock.StockPotitionReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemFailedPDF</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.session.transferdata.ItemFailedPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveInternalReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.receive.ReceiveInternalReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveInternalDetailReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.receive.ReceiveInternalDetailReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAllListPriceTagPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.PrintAllListPriceTagPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAllListPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.masterdata.PrintAllListPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPriceListPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.report.marketing.PrintPriceListPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatStockCorrectionPrintFormExcel</servlet-name>
        <url-pattern>/servlet/com.dimata.printman.MatStockCorrectionPrintFormExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalePerInvoiceExcel</servlet-name>
        <url-pattern>/servlet/com.dimata.printman.SalePerInvoiceExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalePerInvoiceExcel2</servlet-name>
        <url-pattern>/servlet/com.dimata.printman.SalePerInvoiceExcel2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStockCode</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckStockCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkStockOutletOrder</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.checkStockOutletOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckKonversiUnit</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckKonversiUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPriceContract</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckPriceContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentDailyRateRunning</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CurrentDailyRateRunning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSupplierContract</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckSupplierContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOidDocumentStock</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckOidDocumentStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaysTermOfService</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.DaysTermOfService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckTableFromRoom</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckTableFromRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCustomer</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KonversiUnitComposite</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.KonversiUnitComposite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintBarcode</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.printing.warehouse.PrintBarcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintBarcodeRetail</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.printing.warehouse.PrintBarcodeRetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTableFromRoom</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CreateTableFromRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMember</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CheckMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintItemOrder</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.printing.kitchenorder.PrintItemOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCosting</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.printing.costing.PrintCosting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTableMember</servlet-name>
        <url-pattern>/servlet/com.dimata.posbo.ajax.CreateTableMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPurchaseOrder</servlet-name>
        <url-pattern>/servlet/com.dimata.common.ajax.AjaxPurchaseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFingerData</servlet-name>
        <url-pattern>/register.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationFingerData</servlet-name>
        <url-pattern>/verification.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServices</servlet-name>
        <url-pattern>/WebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCustomeReport</servlet-name>
        <url-pattern>/AjaxCustomeReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdminSetup</servlet-name>
        <url-pattern>/getAdminSetup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOutletList</servlet-name>
        <url-pattern>/getOutletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLocationSetting</servlet-name>
        <url-pattern>/getLocationSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMember</servlet-name>
        <url-pattern>/getMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMaterialItem</servlet-name>
        <url-pattern>/getMaterialItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendDataInvoice</servlet-name>
        <url-pattern>/sendDataInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLoginSystem</servlet-name>
        <url-pattern>/getLoginSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendDataInvoiceDetail</servlet-name>
        <url-pattern>/sendDataInvoiceDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxColor</servlet-name>
        <url-pattern>/AjaxColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxKadar</servlet-name>
        <url-pattern>/AjaxKadar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCustomReportTable</servlet-name>
        <url-pattern>/AjaxCustomReportTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getShift</servlet-name>
        <url-pattern>/getShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCashMaster</servlet-name>
        <url-pattern>/getCashMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxEmasLantakan</servlet-name>
        <url-pattern>/AjaxEmasLantakan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxNilaiTukarEmas</servlet-name>
        <url-pattern>/AjaxNilaiTukarEmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxConsignmentSold</servlet-name>
        <url-pattern>/AjaxConsignmentSold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCustomeReportTableDinamis</servlet-name>
        <url-pattern>/AjaxCustomeReportTableDinamis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAddProduksiItem</servlet-name>
        <url-pattern>/AjaxAddProduksiItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSrcProduksi</servlet-name>
        <url-pattern>/AjaxSrcProduksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxBahanBaku</servlet-name>
        <url-pattern>/AjaxBahanBaku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendDataCashier</servlet-name>
        <url-pattern>/sendDataCashier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesManager</servlet-name>
        <url-pattern>/salesManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>syncCatalog</servlet-name>
        <url-pattern>/syncCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendBalance</servlet-name>
        <url-pattern>/sendBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUploadFile</servlet-name>
        <url-pattern>/AjaxUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReport</servlet-name>
        <url-pattern>/getReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSettingTemplateInfo</servlet-name>
        <url-pattern>/AjaxSettingTemplateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxRateJualBerlian</servlet-name>
        <url-pattern>/AjaxRateJualBerlian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintBarcodeIssuer</servlet-name>
        <url-pattern>/PrintBarcodeIssuer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStockCard</servlet-name>
        <url-pattern>/getStockCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendSales</servlet-name>
        <url-pattern>/sendSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCatalog</servlet-name>
        <url-pattern>/getCatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCashless</servlet-name>
        <url-pattern>/AjaxCashless</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxProductionChain</servlet-name>
        <url-pattern>/AjaxProductionChain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMatDispatchBill</servlet-name>
        <url-pattern>/AjaxMatDispatchBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferBCPrintPDF</servlet-name>
        <url-pattern>/TransferBCPrintPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptGudang</servlet-name>
        <url-pattern>/ReceiptGudang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchStoreRequest</servlet-name>
        <url-pattern>/DispatchStoreRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxProduksi</servlet-name>
        <url-pattern>/AjaxProduksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintSuratPerintahPengirimanBarang</servlet-name>
        <url-pattern>/PrintSuratPerintahPengirimanBarang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPengiriman</servlet-name>
        <url-pattern>/AjaxPengiriman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintSuratJalan</servlet-name>
        <url-pattern>/PrintSuratJalan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuktiMutasiBarang</servlet-name>
        <url-pattern>/BuktiMutasiBarang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeritaAcaraSerahTerimaBarang</servlet-name>
        <url-pattern>/BeritaAcaraSerahTerimaBarang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialRequestPdf</servlet-name>
        <url-pattern>/MaterialRequestPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documentManager</servlet-name>
        <url-pattern>/documentManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDispatch</servlet-name>
        <url-pattern>/AjaxDispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxReceiveMaterial</servlet-name>
        <url-pattern>/AjaxReceiveMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPegawaiOfficer</servlet-name>
        <url-pattern>/AjaxPegawaiOfficer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintDocumentProduction</servlet-name>
        <url-pattern>/PrintDocumentProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMaterial</servlet-name>
        <url-pattern>/AjaxMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportSales</servlet-name>
        <url-pattern>/ReportSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivePOReport</servlet-name>
        <url-pattern>/ReceivePOReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentLaporanBarang</servlet-name>
        <url-pattern>/DocumentLaporanBarang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUserManagement</servlet-name>
        <url-pattern>/AjaxUserManagement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>505</error-code>
        <location>/home.jsp</location>
    </error-page>
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>com.dimata.common.GZip.GZipServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.xml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
</web-app>
