/* 
    Document   : sample_menu_v
    Created on : Sep 3, 2013, 9:17:09 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* ---------------------- Greenslate nav ---------------------- */
.green #slatenav{position:relative; width: auto;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(greenslate_background.gif) repeat-x;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.green #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.green #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.green #slatenav ul li a{display:block;float:left;color:#EEFFDF;text-decoration:none;padding:14px 10px 0 10px;height:28px;}
.green #slatenav ul li a:hover,.green #slatenav ul li a.current{color:#fff;background:transparent url(greenslate_backgroundOVER.gif) no-repeat top center; font-size: 14px;}
/* ---------------------- END Greenslate nav ---------------------- */

