/* 
    Document   : sample_menu_vi
    Created on : Oct 1, 2013, 8:54:22 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
    /* ---------------------- Dolphin nav ---------------------- */
   /* #tabs30{position:relative;height:39px;font-size:12px; overflow: auto;font-size:12px; width: auto; text-transform:uppercase;background-color: #6633ff; font-family: Arial;}
    #tabs30 ul{list-style-type:none; padding: 0; margin: 0;width:auto;}
    #tabs30 ul li{display:inline;}
    #tabs30 ul li a{display: block; float: left;color:#EAF3F8;text-decoration:none; height: 39px;}
    #tabs30 ul li a span{display: block; float: left;color:#EAF3F8;text-decoration:none; padding: 10px 10px 10px 10px; height: 19px;}
    #tabs30 ul li a:hover{display:block;cursor:pointer; font-weight: bold;color:#fff; height: 39px;}
    #tabs30 ul li a:hover span{display:block;cursor:pointer; font-weight: bold;color:#fff; background: url(bg_menu_6_over.png); height: 19px;}
    #tabs30 ul li a.current span{display:block; cursor:pointer; font-weight: bold;color:#fff; background: url(bg_menu_6_over.png); height: 19px;}*/ 
    /*#tabs30 ul li a:hover{color:#fff;background:#1D6893 url(dolphin_left-ON.gif) no-repeat; margin-top: -5px; font-size: 14px;}
    #tabs30 ul li a:hover span{display:block;padding:7px 5px 5px 5px;width:auto;background:#1D6893 url(dolphin_right-ON.gif) no-repeat;height:21px;}
    *//* ---------------------- END Dolphin nav ---------------------- */



    /* ---------------------- Dolphin nav ---------------------- */
    #tabs30{position:relative;height:39px;font-size:12px; overflow: auto;font-size:12px; width: auto; text-transform:uppercase;background-color: #6633ff; font-family: Arial;}
    #tabs30 ul{list-style-type:none; padding: 0; margin: 0;width:auto;}
    #tabs30 ul li{display:inline;}
    #tabs30 ul li a{display: block; float: left;color:#EAF3F8;text-decoration:none; height: 39px;}
    #tabs30 ul li a span{display: block; float: left;color:#EAF3F8;text-decoration:none; padding: 10px 10px 10px 10px; height: 19px;}
    #tabs30 ul li a:hover{display:block;cursor:pointer; font-weight: bold;color:#000; height: 39px;}
    #tabs30 ul li a:hover span{display:block;cursor:pointer; font-weight: bold;color:#000; background-color: #EAF3F8; height: 19px;}
    #tabs30 ul li a.current span{display:block; cursor:pointer; font-weight: bold;color:#000; background: url(bg_menu_7_over.png); height: 19px;} 
    /*#tabs30 ul li a:hover{color:#fff;background:#1D6893 url(dolphin_left-ON.gif) no-repeat; margin-top: -5px; font-size: 14px;}
    #tabs30 ul li a:hover span{display:block;padding:7px 5px 5px 5px;width:auto;background:#1D6893 url(dolphin_right-ON.gif) no-repeat;height:21px;}
    *//* ---------------------- END Dolphin nav ---------------------- */
