/* 
    Document   : sample_menu_ii
    Created on : Aug 27, 2013, 9:09:56 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* ---------------------- Dolphin nav ---------------------- */
#tabs24{position:relative;height:43px; overflow: auto; width: auto;font-size:12px;text-transform:uppercase; overflow: auto;background:#fff url("time4bed_bg.gif") repeat-x;font-family:Georgia, "Times New Roman", Times, serif;}
#tabs24 ul{margin:0;padding:0;list-style-type:none;width:auto;}
#tabs24 ul li{display:inline;}
#tabs24 ul li a span{display:block;float:left;color:#ffdab6;text-decoration:none;padding:10px 6px 5px 6px; height: 29px;}
#tabs24 ul li a:hover span{display:block;cursor:pointer; font-weight: bold;color:#fff;}
#tabs24 ul li a.current span{display:block;cursor:pointer; font-weight: bold;color:#fff;}
/*#tabs24 ul li a.current,#tabs24 ul li a.current:hover{color:#894d12;background:transparent url("time2bed_left-ON.gif") no-repeat top left;}
#tabs24 ul li a.current span{background:transparent url("time2bed_right-ON.gif") no-repeat top right;height:43px;}
#tabs24 ul li a:hover{color:#894d12;background:transparent url("time2bed_left-ON.gif") no-repeat top left; margin-top: -7px; margin-bottom: 0; padding-bottom: 0}
#tabs24 ul li a:hover span{background:transparent url("time2bed_right-ON.gif") no-repeat top right;height:43px; margin-top: -10px; padding-top: 15px; font-size: 14px; font-weight: bold; margin-bottom: 0; padding-bottom: 0}
*//* ---------------------- END Dolphin nav ---------------------- */
