/* 
    Document   : sample_menu_iii
    Created on : Aug 27, 2013, 10:59:07 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

    /* ---------------------- Dolphin nav ---------------------- */
    /*#tabs30{position:relative;height:43px;font-size:12px; overflow: auto;font-size:12px; width: auto; text-transform:uppercase;background:url(dolphin_bg.png) repeat-x; font-family: Arial;}
    #tabs30 ul{list-style-type:none; padding: 0; margin: 0;width:auto;}
    #tabs30 ul li{display:inline;}
    #tabs30 ul li a span{display: block; float: left;color:#EAF3F8;text-decoration:none; padding: 5px 10px 5px 10px; height: 32px;}
    #tabs30 ul li a:hover span{display:block;cursor:pointer; font-weight: bold;color:#fff;}
    #tabs30 ul li a.current span{display:block; cursor:pointer; font-weight: bold;color:#fff;} 
    /*#tabs30 ul li a:hover{color:#fff;background:#1D6893 url(dolphin_left-ON.gif) no-repeat; margin-top: -5px; font-size: 14px;}
    #tabs30 ul li a:hover span{display:block;padding:7px 5px 5px 5px;width:auto;background:#1D6893 url(dolphin_right-ON.gif) no-repeat;height:21px;}
    *//* ---------------------- END Dolphin nav ---------------------- */

